<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Course Details</title>
</head>

<body>
    <div class="form">
        <form method="POST" action="/submit_detail">
            <label for="code">Course Code:</label>
            <input type="text" id="code" name="code">
            <br><br>
            <label for="name">Course Name:</label>
            <input type="text" id="name" name="name">
            <br><br><br>
            <label for="instructor">Course Instructor:</label>
            <input type="text" id="instructor" name="instructor">
            <br><br><br>
            <label for="semester">Semester:</label>
            <input type="text" id="semester" name="semester">
            <br><br><br>
            <label for="schedule">Course Schedule:</label>
            <input type="text" id="schedule" name="schedule">
            <br><br><br>
            <label for="classroom">Classroom:</label>
            <input type="text" id="classroom" name="classroom">
            <br><br><br>
            <label for="prerequisites">Prerequisites:</label>
            <input type="text" id="prerequisites" name="prerequisites">
            <br><br><br>
            <label for="grading">Grading:</label>
            <input type="text" id="grading" name="grading">
            <br><br><br>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
            <br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>